:root {
    --brand-color: #651c1d;
    --brand-second-color: #0075be;
    --white: #fefefe;
    --gray: #6c757d;
    --light-grey: #eaeaea;
    --light: #f8f9fa;
    --gray-dark: #343a40;
    --dark: #212529;
    --principal-color:#004481;
    --show: block;
    --hidden: none;
    --all-width: 100%;
    --box: inset -15.5em 0 0 0 #004481,inset 15.5em 0 0 0 #00448199;
    --backgroundtransparent: #0075be68;
    --box-two: inset -.1em 0 0 0 #004481,inset .1em 0 0 0 #00448199;
    --gray100: hsl(0,0%,100%);
    --gray70: hsl(0,0%,70%);
    --gray0: hsl(0,0%,0%);
    --background: linear-gradient(to left, #36D1DC99 0%, #fefefe59 100%);
/*  --background: linear-gradient(to left, #36D1DCc9, #36D1DC10);*/
    --solid-bground: linear-gradient(to right, #0075be 0%, #004481 100%);
}

::-webkit-scrollbar {
    display: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica Neue", system-ui, sans-serif;
	background-color: #fafafa;
}

h1 {
	position: relative;
	text-align: center;
	font-size: clamp(32px, 4vw, 42px);
	/*margin-top: 30px;*/
	/*margin-bottom: 20px;*/
	width: 90vw;
	/*margin-bottom: 15px;*/
	/*margin: 0 auto;*/
	justify-self: center;

	span {
		display: block;
		font-size: 20px;
		margin-top: 10px;
		color: hsl(0 1% 50% / .8);
	}
}

.carousel {
	display: flex;
	flex-direction: column;
	/*place-conte*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*margin-top: 10px;*/
	height: 100vh;
		/*height: calc(100dvh - 156px);*/
	/*place-content: center;*/
	/*overflow: hidden;*/
	/*border: 1px solid red;*/
}

.carousel-inner {
	/*display: flex;
	width: 400px;
	overflow-y: scroll;*/
	/*flex: 1;*/
	flex-grow: 2;
	width: 95vw;
	/*height: auto;*/
	/*height: calc(100% - 271px);*/
	scrollbar-width: none;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	scroll-behavior: smooth;
	/*border: 1px solid;*/
	margin: 0 auto;
	place-content: center;
	ul {
		display: flex;
		/*position: absolute;*/
		gap: 4px;
		height: 100%;
		align-items: center;
		/*border: 1px solid red;*/
		/*overflow: hidden;*/
		li  {
			list-style: none;
			scroll-snap-align: center;
			scroll-snap-stop: always;
			width: 400px;
			/*border: 1px solid;*/
			height: 500px;
			/*border: 1px solid yellow;*/
			border-radius: 10px;
			background-color: #fafafa;
			/*overflow-x: hidden;*/

			img {
				display: block;
				width: 355px;
				height: 100%;
				/*border-radius: 10px;*/
				object-fit: contain;
			}
		}
	}

	&::scroll-button(*) {
		aspect-ratio: 1;
		border-radius: 20%;
		border: 1px solid #999;
		top: 50%;
		gap: 6px;
	}

	&::scroll-button(*):not(:disabled):is(:hover, :active) {
		opacity: .8;
	}

	&::scroll-button(*):not(:disabled):active {
		scale: 90%;
	}

	&::scroll-button(left) {
		content: "◀" / "Scroll Left"; 
		position: absolute;
		left: 4px;
	}

	&::scroll-button(right) {
		content: "▶" / "Scroll Right";
		position: absolute;
		right: 4px;
	}

}

footer {
	display: flex;
	/*flex: end;*/
	/*flex: end;*/
	/*flex-grow: 1;*/
	/*flex: .5;*/
	justify-self: end;
	position: relative;
	padding: 5px;
	/*animation-fill-mode: ;*/
	/*border: 1px solid;*/
	justify-content: space-around;
	align-items: center;
	/*padding: 20px;*/
	background-color: #2b2b2bae;
	color: #fafafa;
	/*address {
		display: block;
		border: 1px solid;
	}*/
}

.container-iframe {
	display: block;
	/*margin: 10px auto;*/
	width: auto;
	/*border: 1px solid;*/
	place-content: center;
	justify-self: center;
}

@media (width <= 768px) {
	footer {
		flex-grow: 1;
	}
}